.container-sidenav {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.div-side-nav {
  display: flex;
}

.titulo-side-nav {
  font-size: 15px;
  white-space: nowrap;
  font-weight: normal;
}

.link-side-nav {
  display: flex;
  align-items: center;
}

.item-sidenav{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 2px;
}

.icon-sidenav{
  margin-right: 6px;
}

.primeiro-item{
  margin-top: 10px;
  margin-bottom: 5px;

}

.container-sidenav{
  height: calc(100% - 64px);

}
